<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.demo.dao.CommentMapper">
    <select id="queryCommentByWechatmomentsId"
            resultType="com.hh.demo.pojo.Comment">
        select * from comment where wechatmomentsId=#{id};
    </select>
    <insert id="insertComment"
            parameterType="com.hh.demo.pojo.Comment">
        insert into comment (commentId,content,wechatmomentsId,respondents,recipient) values (#{commentId},#{content},#{wechatmomentsId},#{respondents},#{recipient})
    </insert>
</mapper>